.registry1 {
    gap: 40px;
}

.registry1 h1 {
    margin-top: 40px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}

.input select {
    background: none;
    border: none;
    width: 100%;
    color: white;
    cursor: pointer;
    outline: none;
}

.input i{
    font-size: 25px;
}
.input select option {
    color: black;
}

.registry1 label {
    font-weight: bold;
    width: 300px;
    font-size: 15px;
    text-align: left;
}

.registry1 .input {
    height: 40px;
}

.btnSignup{
    margin-top: 20px;
}