* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none
}

body {
    background-color: #ffb6b9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: "Love Ya Like A Sister", cursive;
}

.main {
    margin-top: 130px;
}

a {
    color: white;
    display: block;
    text-decoration: none;
    transition: .5s;
}

.links {
    margin: 10px;
}

.links a:hover {
    color: #424242;
    transform: scale(1.1);
}

.topo {
    color: white;
    font-weight: bold;
    text-align: center;
}

.topo h1 {
    font-size: 40px;
}

.topo i {
    font-size: 60px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.formParaSignIn input {
    padding: 15px;
    margin: 20px 0;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ff768de1;
}

.password input {
    margin: 0;
    padding: 15px;
    border: none;
    background: none;
}

.password i {
    margin-left: -40px;
    border-left: 1px solid #ff768d75;
    font-size: 23px;
    padding: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .5s;
    color: #fd5470;
}

.password i:hover {
    cursor: pointer;
    background-color: #ff768d69;
}

.password {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border: 1px solid #ff768de1;
    background-color: white;
}

.btnEntrar {
    color: white;
    padding: 15px 40px;
    background-color: #ff768de1;
    border-radius: 20px;
    margin: 10px 0;
    transition: .5s;
}

.btnEntrar:hover {
    cursor: pointer;
    padding: 15px 70px;
    background-color: #fa7188;
}


@media screen and (max-width:800px) {

    .topo h1 {
        font-size: 25px;
    }

    .topo i {
        font-size: 40px;
    }
}